*~
tmp
backup_linux
*.pdf
.Rhistory
*.Rdata
*.txt
*.csv
.Rproj.user
.Rproj.user/*
*.aux
*.bbl
*.blg
*.dvi
*.pdf
*.log
*.lof
*.toc
*.bib
HeaderfileTexDocs.tex
derivs.m
*.lot
*.eps
*.out
Images
Images/*
Plots/
Plots/*
*.docx
.nfs*
