*~
tmp
backup_linux
*.pdf
.Rhistory
*.Rdata
*.RData
.Rdata
.RData
*.txt
*.csv
.Rproj.user
.Rproj.user/*
*.Rout
*.out
Rout
Rout/*
Temp*.*
tmp*.*
*.zip
Data
Data/*
RData
RData/*
*.aux
*.log
*.out
*.pdf
Diesel/*.aux

